@model IEnumerable<VoguishTemplate.Models.Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Categories</h2>
<button class="btn btn-default">@Html.ActionLink("Add Category","Create")</button>
<br />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@Html.ActionLink("Delete","Delete", new { Id = item.Id })</td>
                <td>@Html.ActionLink("Edit", "Edit", new { Id = item.Id })</td>
            </tr>
        }
    </tbody>
</table>